---
import Divider from "../../components/Divider.astro";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
let tasks = blok.cv_tasks.content[0].content;

let startDate = new Date(blok.cv_start);
let formattedStartDate = `${startDate.getDate().toString().padStart(2, "0")}/${(startDate.getMonth() + 1).toString().padStart(2, "0")}/${startDate.getFullYear()}`;

if (blok.cv_end) {
  let endDate = new Date(blok.cv_end);
  var formattedEndDate = `${endDate.getDate().toString().padStart(2, "0")}/${(endDate.getMonth() + 1).toString().padStart(2, "0")}/${endDate.getFullYear()}`;
} else {
  var formattedEndDate = "Current";
}
---

<div {...storyblokEditable(blok)} class="w-full py-12 text-center">
  {
    blok.cv_is_most_recent && blok.cv_section_heading !== null && (
      <h2 class="text-4xl my-2 text-black">{blok.cv_section_heading}</h2>
    )
  }
  <div class="container px-4 md:px-6">
    <div
      class="grid items-start justify-center md:grid-cols-3 sm:grid-cols-1 md:gap-8 md:items-center">
      <div class="space-y-2">
        <h3 class="text-3xl font-bold tracking-tighter sm:text-4xl">
          {blok.cv_position}
        </h3><p class="text-gray-500 dark:text-gray-400">
          {formattedStartDate} - {formattedEndDate}
        </p>
      </div>

      <Divider layout="vertical" />

      <div class="space-y-4 md:space-y-2">
        <ul class="grid gap-4 list-disc list-outside">
          {
            tasks.map((task) => (
              <li class="relative pl-4 my-2">
                <span>{task.content[0].content[0].text}</span>
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
