---
import Divider from "../../components/Divider.astro";
import CVTaskBlock from "../components/CVTaskBlock.astro";
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;

let startDate = new Date(blok.cv_start);
let formattedStartDate = `${startDate.getDate().toString().padStart(2, "0")}/${(startDate.getMonth() + 1).toString().padStart(2, "0")}/${startDate.getFullYear()}`;

if (blok.cv_end) {
  let endDate = new Date(blok.cv_end);
  var formattedEndDate = `${endDate.getDate().toString().padStart(2, "0")}/${(endDate.getMonth() + 1).toString().padStart(2, "0")}/${endDate.getFullYear()}`;
} else {
  var formattedEndDate = "Current";
}
---

<div {...storyblokEditable(blok)} class="w-full text-center">
  {
    blok.cv_is_most_recent && blok.cv_section_heading !== null && (
      <h2 class="text-4xl my-8 text-black">{blok.cv_section_heading}</h2>
    )
  }
  <div class="mx-auto items-center px-4 md:px-6">
    <div
      class="md:grid xl:grid-cols-cv-grid-full lg:grid-cols-cv-grid-large sm:flex md:gap-8 sm:flex-col md:flex-row sm:text-center">
      <div class="space-y-2">
        <h3 class="text-3xl font-bold tracking-tighter sm:text-4xl">
          {blok.cv_position}
        </h3><p class="text-gray-500 dark:text-gray-400">
          {formattedStartDate} - {formattedEndDate}
        </p>
      </div>

      <Divider layout="vertical" />

      <div class="space-y-4 md:space-y-2">
        <ul class="grid gap-1 list-disc list-outside justify-start">
          {
            blok.cv_nestable_task &&
              blok.cv_nestable_task.map((task: Object) => (
                <CVTaskBlock task={task} />
              ))
          }
        </ul>
      </div>
    </div>
  </div>
</div>
