---
import { storyblokEditable } from "@storyblok/astro";

const { blok } = Astro.props;
import { Image } from "astro:assets";

const astro = "/img/astro.png";
const shopify = "/img/shopify.png";
const vue = "/img/vue.png";
const react = "/img/react.png";
const js = "/img/js.png";
const django = "/img/django.png";
const python = "/img/python.png";

type Technology =
  | "astro"
  | "shopify"
  | "vue"
  | "react"
  | "js"
  | "django"
  | "python";
type TechImageMap = Record<Technology, string>;

const techImageMap: TechImageMap = {
  astro,
  shopify,
  vue,
  react,
  js,
  django,
  python,
};
---

<div
  {...storyblokEditable(blok)}
  class="border bg-card text-card-foreground shadow-sm w-full rounded-xl overflow-hidden min-w-[20rem]">
  <Image
    src={blok.project_card_header_img.filename}
    alt={blok.project_card_header_img.alt
      ? blok.project_card_header_img.alt
      : blok.project_name}
    class="object-cover object-center h-40 w-full"
    height={150}
    width={350}
    id="project-card-header-img"
  />

  <div class="p-4">
    <div class="space-y-2">
      <h2 class="text-3xl mt-2 text-black hover:text-yellow-500 uppercase">
        {blok.project_name}
      </h2>
      <p>{blok.project_snippet}</p>
    </div>

    <div class="tech-icons flex my-4 items-center">
      {
        blok.project_tech_list.map(
          (tech: Technology) =>
            techImageMap[tech] && (
              <img
                src={techImageMap[tech]}
                class=" project-tech-img"
                height={40}
                width={40}
              />
            )
        )
      }
    </div>
    <div class="flex items-center">
      <a
        href={blok.project_link.cached_url}
        class="bg-black hover:bg-yellow-500 hover:text-black text-gray-50 font-bold py-2 px-4 rounded transition duration-300 ease-in-out">
        View Project
      </a>
    </div>
  </div>
</div>
